<div class="wrapper">
	<div class="row tab-row">
		<div class="col-md-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#section1" data-toggle="tab">All requests for a user</a></li>
				<li><a href="#section2" data-toggle="tab">Create New</a></li>
			</ul>
		</div>
	</div>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="section1">
			<div class="row user-row">
				<div class="col-md-12 space">
					<h4>This is a list of all requests created by a user (gamest1@gmail.com)</h4>
					<br />
					<table class="table table-striped">
						<tr>
							<th>IDX</th>
							<th>Start Time</th>
							<th>Duration</th>
							<th>Status</th>
							<th>Originator</th>
							<th>CareGiver</th>
              <th>Requirements</th>
						</tr>
            {{range $index, $val := .Requests}}
						<tr>
							<td>{{$index}}</td>
							<td>{{$val.StartTime}}</a></td>
							<td>{{$val.Duration}}</td>
							<td>{{$val.Status}}</td>
							<td>{{$val.Originator}}</td>
							<td>{{$val.CareGiver}}</td>
							<td>
                  {{$val.Requirements.Skill}}, {{$val.Requirements.Gender}} at {{$val.Requirements.Location.DisplayLocation}}
              </td>
						</tr>
						{{end}}
					</table>
				</div>
			</div>
		</div><!-- tan-pane -->

		<div class="tab-pane" id="section2">
			<div class="row">
				<div class="col-md-12 space">
					<h4>This is a form to be filled and submitted with a new request!</h4>
          <form id="createRequestForm">
            <div class="form-group">
              <label for="originator">Email address</label>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" id="originator" name="originator">
              <small id="emailHelp" class="form-text text-muted">For now, input gamest1@gmail.com!</small>
            </div>
            <div class="form-group">
              <label for="servicedate">Service Date</label>
              <input class="form-control" type="date" value="2016-12-12" id="servicedate" name="servicedate">
            </div>
            <div class="form-group">
              <label for="servicetime">Service Time</label>
              <input class="form-control" type="time" value="13:00:00" id="servicetime" name="servicetime">
            </div>
            <div class="form-group">
              <label for="apartment">Apartment</label>
              <input type="text" class="form-control" placeholder="Apartment Number" id="apartment" name="apartment">
            </div>
            <div class="form-group">
              <label for="streetnumber">Street Number</label>
              <input type="number" class="form-control" aria-describedby="numberHelp" placeholder="Street Number" id="streetnumber" name="streetnumber">
              <small id="numberHelp" class="form-text text-muted">For now, this must be a number</small>
            </div>
            <div class="form-group">
              <label for="streetname">Street Name</label>
              <input type="text" class="form-control" placeholder="Your Street" id="streetname" name="streetname">
            </div>
            <div class="form-group">
              <label for="cityname">City</label>
              <input type="text" class="form-control" placeholder="City" id="cityname" name="cityname">
            </div>
            <div class="form-group">
              <label for="postalcode">Postal Code</label>
              <input type="text" class="form-control" placeholder="Postal Code" id="postalcode" name="postalcode">
            </div>
            <div class="form-group">
              <label for="duration">Service Duration</label>
              <input type="number" class="form-control" aria-describedby="durationHelp" placeholder="How many hours?" id="duration" name="duration">
              <small id="durationHelp" class="form-text text-muted">Maybe just one or two for now</small>
            </div>
            <div class="form-group">
              <label for="skill">What type of service you need?</label>
              <select class="form-control" id="skill" name="skill">
                <option>psw</option>
                <option>chiropractor</option>
                <option>nurse</option>
              </select>
            </div>
            <div class="form-group">
              <label for="languages">Preferred service languages</label>
              <select multiple class="form-control" id="languages" name="languages">
                <option>English</option>
                <option>French</option>
                <option>Spanish</option>
              </select>
            </div>
            <fieldset class="form-group">
              <legend>Preferred Healthcare Gender</legend>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" id="optionsGender1" value="m" checked>
                  Male
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" id="optionsGender2" value="f">
                  Female
                </label>
              </div>
              <div class="form-check disabled">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" id="optionsGender3" value="b">
                  No preference
                </label>
              </div>
            </fieldset>
            <button class="btn btn-primary" id="create-request-button-json">Submit</button>
          </form>
					<br />
				</div>
			</div>
		</div>
	</div><!-- Tab Content End -->
</div><!-- Wrapper End -->
