<h1>{{.TypeText}} Home Page</h1>
<div id="content" class="container"></div>
<div id="currentUser" hidden="true">{{.Email}}</div>
<script type="text/babel" src="http://localhost:5000/react/app.js"></script>
{{if eq .Type `p`}}
<form action="http://localhost:9003/user/request" method="GET">
    <input type="submit" value="New Request" class="btn btn-primary"/>
</form>
{{end}}
{{if eq .Type `cg`}}
<form action="http://localhost:9003/user/profile" method="GET">
    <input type="submit" value="Update Availability" class="btn btn-primary"/>
</form>
{{end}}
